name: Manually trigger an Azure Machine Learning job

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}


  az ad sp create-for-rbac --name "aberges1" --role contributor \
                              --scopes /subscriptions/717df2b2-5934-449a-932e-58f78db21faf/resourceGroups/SI-QCOG-dev-1 \
                              --sdk-auth